@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme('colors.primary.900');
    border-right-color: theme('colors.primary.200');
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme('colors.primary.200');
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
} */

/* For data picker */

.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme('colors.accent.500') !important;
  --rdp-background-color: theme('colors.accent.600') !important;
  margin: 0 !important;
}

html {
  /* font-size: 10px;  Ideally but*/
  /* 
       10px / 16px = 0.625 = 62.5%
       This is the percentage of user's browser font-size setting
      */
  font-size: 62.5%;
  overflow-x: hidden;
  /* Does not work on safari and microsoft edge */
  /* scroll-behavior: smooth; */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  background-color: #f8f9fa;
}

header {
  height: 6rem;
  padding: 0 4.8rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

hr {
  margin-top: 9rem;
  height: 1px;
  border: none;
  background-color: #ccc;
  opacity: 0.5;
}

/* main { 
  max-width: 80rem;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
} */

/* .main-content {
  flex: 1 1 0%;
} */

.hero {
  background-image: url(../../public/terricks-noah.jpg);
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20rem;
}

.advert {
  background-image: url(../../public/nicolas-ladino.jpg);
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20rem;
  margin-top: 9rem;
}

.items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 9rem;
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.home-collection-instruction {
  font-size: 3rem;
}

.services-conatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 9rem;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.services-heading {
  padding-bottom: 3rem;
}

.hero-block-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-para {
  font-size: 4.4rem;
  text-align: center;
}

.error-button {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 1rem 3rem;
}

.error-main,
.notfound-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.error-heading,
.notfound-heading {
  margin-bottom: 1rem;
  font-weight: 300;
}

.error-message {
  margin-bottom: 1.5rem;
}

/* profile */

.profile-container {
  height: 50vh; /* Adjust height as needed */
  background-image: url('/chuxie.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profile-header-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* transform: translate(-0%, 200%); */
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-0%, -0%);
}

.profile-heading,
.signout-b {
  color: white;
}

.profile-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 5rem;
  
}

.profile-info-h3 {
  font-size: 1.7rem;
  padding-top: 3rem;
}

.profile-info-content-container {
background-color: #dee2e6;
margin-top: 2rem;
padding-left: 20px;
padding-top: 20px;
width: 50rem;
height: 20rem;
}

.profile-email, .profile-name {
margin-top: 0.2rem;
font-weight: 300;
}

.profile-form-container {
  display: flex;
  flex-direction: column;
}

.profile-form-h3 {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.signout-b {
  margin-top: 1rem;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  background-color: white;
  border: none; 
  /* border-radius: 8px;  */
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease, transform 0.2s ease;
}

.signout-b:hover {
  background-color: #f8f9fa; 
  /* transform: scale(1.05); */
}

.signout-b:active {
  background-color: #e0e0e0;
  /* transform: scale(0.98); */
}

/* account */
.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 10rem 0 10rem;
}

.account-heading {
  font-weight: 400;
}

.account-instruction {
  font-weight: 300;
  padding-top: 3rem;
}

/* about */
.about-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
}

.about-heading {
  font-size: 5rem;
  font-weight: 300;
  padding-bottom: 8rem;
}

.about-content-1 {
  max-width: 100rem;
  padding-top: 6rem;
}

.about-para-1 {
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
}

/* females */
.female-items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.female-items-ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

/* kids */
.kid-items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.kid-items-ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

/* male */
.male-items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.male-items-ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

/* new arrivals */
.new-arrivals-first-container {
  max-width: 100%;
  height: 30rem;
  background-color: #f1f3f5;
}

.new-arrivals-first-container-p {
  font-weight: 300;
}

.new-arrivals-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.new-arrivals-second-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.new-arrivals-second-container-ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

/* dynamic page([itemId]) */
.item-review-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 6rem;
}


.item-card-details {
    /* background-color: blue; */
    width: 50rem;
    height: 60rem;
}

.item-card-heading-1 {
    margin-top: 5rem;
    text-transform: uppercase;
}

.item-card-heading-2 {
    margin-top: 1.7rem;
}

.item-card-description {
   margin: 3rem 0;
}

 .item-card-discount {
    margin-bottom: 3rem;
}

.item-card-subtotal {
    font-weight: 400;
    margin-bottom: 3rem;
}

.item-card-span {
    font-size: 1.3rem;
    font-weight: 700;
}

.item-card-span-2 {
    font-size: 1.5rem;
}

.item-card-span-h4 {
    font-weight: 400;
    font-size: 1.8rem;
}

.item-card-des-dep-container {
    display: flex;
   justify-content: space-between;
   align-items: center;
}

/* cart */
.cart-page-container {
    padding-top: 3rem;
}

.cart-heading {
    font-weight: 500;
}

.cart-content-empty {
    padding-top: 2rem;
    font-size: 1.7rem;
}
