html {
  /* font-size: 10px;  Ideally but*/
  /* 
       10px / 16px = 0.625 = 62.5%
       This is the percentage of user's browser font-size setting
      */
  font-size: 62.5%;
  overflow-x: hidden;
  /* Does not work on safari and microsoft edge */
  /* scroll-behavior: smooth; */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
}

header {
  height: 6rem;
  padding: 0 4.8rem;
}
