.about-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
}

.about-heading {
    font-size: 5rem;
    font-weight: 300;
    padding-bottom: 8rem;
}

.about-content-1 {
    max-width: 100rem;
    padding-top: 6rem;
}

.about-para-1 {
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
}