.female-items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.female-items-ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}