.cart-list {
  display: flex;
  justify-content: space-between;
  width: 60rem;
  margin-top: 3rem;
}

.cart-item-general {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 25rem;
}

.cart-item-name {
  font-weight: 400;
}

.cart-item-price {
  font-weight: 400;
  margin-top: 1rem;
}

.cart-item-description {
  /* margin-top: 1rem; */
  font-size: 1.6rem;
  font-weight: 300;
}

.cart-item-department {
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 0.4rem;
}


/* Below 944px (tablets(Portrait)) */

@media (max-width: 59em) {
  .cart-item-description, .cart-item-department {
font-size: 1.8rem;
  }
}

