footer {
  background-color: #f8f9fa;
  height: 65rem;
}

li {
  list-style: none;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15rem;
  padding-top: 9rem;
}

.footer-help {
  font-size: 1rem;
  font-weight: 300;
}

.footer-help-list-container {
  padding-top: 3rem;
}

.footer-help-list {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.footer-hr {
  margin-top: 30rem;
}

.footer-heading-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
}

.footer-heading{
  font-weight: 700;
}

/* Below 1344px (Smaller desktops) */
@media (max-width: 84em) {
  .footer-container {
    width: 110rem;
    margin-left: 12rem;
  }

  .footer-help {
    font-size: 1.3rem;
  }

  .footer-help-list {
    font-size: 1.8rem;
  }
}

@media (max-width: 75em) {
  .footer-container {
    margin-left: 4rem;
  }
}

/* Below 944px (tablets(Portrait)) */

@media (max-width: 59em) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
     width: 88rem;
    padding-top: 0;
  }

  .wear-afr-services {
    margin-top: 1.5rem;
  }

}

/* Below 704px (Smaller tablets)  */

@media (max-width: 44em) {
  
  .footer-container {
    width: 60rem;
  }

}

/* Mobile Styles */
@media (max-width: 34em) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 2rem;
     width: 30rem;
     margin-top: 5rem;
  }

   .footer-help {
    font-size: 1.5rem;
  }

   .footer-help-list {
    font-size: 1.4rem;
  }
}

