footer {
  background-color: #f8f9fa;
  height: 65rem;
}

li {
  list-style: none;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15rem;
  padding-top: 9rem;
}

.footer-help {
  font-size: 1rem;
  font-weight: 300;
}

.footer-help-list-container {
  padding-top: 3rem;
}

.footer-help-list {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.footer-hr {
  margin-top: 30rem;
}

.footer-heading-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
}

.footer-heading{
  font-weight: 700;
}

/* Below 1344px (Smaller desktops) */
@media (max-width: 84em) {
  .footer-container {
    width: 110rem;
    margin-left: 3rem;
  }

  .footer-help {
    font-size: 1.3rem;
  }

  .footer-help-list {
    font-size: 1.8rem;
  }
}
