li {
  list-style: none;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    padding-top: 1.5rem;
    
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 2rem;
}
