.new-arrivals-first-container {
  max-width: 100%;
  height: 30rem;
  background-color: #f1f3f5;
}

.new-arrivals-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.new-arrivals-second-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.new-arrivals-second-container-ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
